:root {
    --accent-color: #C93;
    --main-color: white;
}

body {
    background-color: black;
    color: white;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.poster {
    border: 1px solid var(--accent-color);
    margin: auto auto;
    text-align: center;
    height: 768px;
    width: 1024px;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#container>.poster h3 {
    color: var(--accent-color);
    font-size: 340%;
    font-family: "Baskerville Regular", serif;
    font-weight: lighter;
    margin: 10px 0 0;
    vertical-align: text-top;
}

#container>.poster h3>span {
    text-decoration-line: none;
    display: inline-block;
    font-size: 120%;
}

#container>.poster h3>span:nth-child(2) {
    vertical-align: 20%;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-size: 85%;
}

#container>.poster h5 {
    font-size: 105%;
    margin: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
}
