:root {
    --accent-color: #DA3;
    --main-color: white;
}

body {
    background-color: black;
    color: white;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.poster {
    border: 1px solid var(--accent-color);
    margin: auto auto;
    text-align: center;
    height: 768px;
    width: 1024px;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#container>.poster h3{
    color: var(--main-color);
    font-size: 300%;
    margin: 0;
    font-family: "Times New Roman", serif;
    font-weight: 600;
}

#container>.poster h5 {
    font-size: 100%;
    margin: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
}
